body {
    background-color: #0a0c1a;
}

.store {
    margin-top: 0px;
    margin-bottom: 0px;
    background-size: cover;
    display: table;
}

.rasm {
    padding: 48px;
    width: 360px;
    height: 160px;
}

.tepa {
    background-image: url(/img/360_F_501599274_3SuNUyU19lkEE1Y9YVtggNxN470t48A6.jpg);
    box-sizing: border-box;
    background-size: cover;
    width: 460px;
    height: 260px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid rgb(59, 59, 62);

}

.p1 {
    font-weight: 700;
    color: white;
    font-family: sans-serif;
    word-spacing: 0px;
    font-size: 30px;
    margin: 5px;
}

.mini {
    margin-right: 12px;
    display: inline-block;
    background-color: #0e1036;
    line-height: 3px;
    text-align: center;
    width: 60px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(59, 59, 62);
}

.a {
    width: 80px;
}

.b {
    width: 70px;
}

.mini:hover {
    background-color: #3135ac;
}

.p2 {
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(180, 209, 255);
}

.p2:hover {
    color: aliceblue;
}

.tegi {
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid rgb(59, 59, 62);
    border-right: 1px solid rgb(59, 59, 62);
    border-bottom: 1px solid rgb(59, 59, 62);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 460px;
    height: 450px;
    background-color: #1b1c38;
}

.opisaniya {
    margin: 0px;
    font-size: 25px;
    font-family: sans-serif;
    color: #969494;
}

.pul {
    font-family: sans-serif;
    font-size: 28px;
    color: white;
}

.chzu {
    font-size: smaller;
}

.sa {
    overflow: auto;
    line-height: 37px;
    font-size: 22px;
    box-sizing: border-box;
    background-color: #3135ac;
    width: 200px;
    height: 60px;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}

.sa:hover {
    background-color: #484a92;
}

.sa:active {
    line-height: 50px;
    padding: 0;
    font-size: 18px;
    width: 190px;
    height: 50px;
}

.youtube {
    font-size: larger;
    color: white;
    text-align: center;
    border-radius: 24px;
    border: 1px solid rgb(59, 59, 62);
    background-color: #18134a;
    overflow: auto;
    width: 150px;
    height: 60px;
    line-height: 30px;
}

.youtube:hover {
    background-color: #1c1848;
}

.savat {
    border-radius: 10px; 
    display: inline-block;
    margin-right: 10px;

}

.a1 {
    color: #969494;
    width: 220px;
    height: 50px;
    line-height: 80px;

}

.a2 {
    color: aliceblue;
    margin: 0px;
    background-color: #3135ac;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
}

.omb {
    border-radius: 10px;
    display: inline-block
}
.ust{
    display: inline-block;
    margin-right: 9px;
}
.nout{
    width: 70px;
}
.nout{
    width: 70px;
}
.gb{
    width: 130px;
}
.a2:hover{
    background-color: #585ba4;

}
